@media only screen and (max-width: 991px) and (min-width: 577px) {
    .hero-section{
        height: 60vh;
        width: 100%;
    
    }
    .hero-left{
        height: 20vh;
    }
    .hero-right{
        height: 40vh;
    }
  }